<!-- Loads the base file -->
{% extends 'base.html'%}
<!-- Loads the static contents -->
{% load static %}
{% static "images" as baseUrl %}
{% block title %}
Hello
{% endblock %}

{% block content %}


<img src="{% static 'images/hero.jpg'%}" class="d-block w-100">


<div class="container mt-4">
    <div class="row my-2">
        {% for product in products %}
        <div class="col-md-3" style="border-radius: 5px;">
            <div class="card mt-2">
                <img src="{{product.pImage.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.pName}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/authentication/login" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}