{% extends 'base.html' %}
{% load cart%}
{% block title %}
    Cart
{% endblock %}

{% block content %}
{% if request.session.userid!=null %}
    <div class="container">
        <p class="display-4">Cart</p>
		<div class="m-3 table-responsive">

			<table class="table table-hover" id="myTable" class="display">
				<thead>
					<tr>
						<th scope="col">Product Id</th>
						<th scope="col">Image</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
                    <tr>

                        <th scope="row">{{forloop.counter}}</th>
                        <td><img src="{{product.pImage.url}}" style="height: 75px;"></td>
                        <td>{{product.pName}}</td>
                        <td>&#8377;&nbsp;{{product.pPrice}}</td>
                        <td>{{product|cart_quantity:request.session.cart}}</td>
                        <td>{{product|total_price:request.session.cart}}</td>

                    </tr>
                    {% endfor %}
						
				</tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <th>{{products|total_cart_price:request.session.cart}}</th>
                    </tr>
                </tfoot>
			</table>
		</div>
        <div>
            <a name="" id="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success float-right" href="#" role="button">Checkout</a>
        </div>
	</div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
              <form action="checkout" method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="" class="form-label">Address</label>
                    <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">

                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <input type="submit" class="btn btn-outline-info col-lg-5" value="Checkout">
                  <button type="button" class="btn btn-outline-danger float-right col-lg-5" data-bs-dismiss="modal">Close</button>
              </form>
          </div>
        </div>
        <div class="modal-footer">
    
        </div>
      </div>
    </div>
  </div>





	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			$('#myTable').DataTable({
				"dom" : ' <"#length"l><"#search"f>rt<"info"i><"page"p>',
				"stateSave" : true
			});
		});
	</script>
    {% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPDkg8_iFI1qF8zdUnYiv2nvrh4gpY5KDtzg&usqp=CAU">
    {% endif %}
{% endblock %}